<!-- 定义导航栏 -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">

    <!-- 导航栏商标 -->
    <a class="navbar-brand" href="#">我的博客</a>

    <!-- 导航入口 -->
    <div>
      <ul class="navbar-nav">
      <li class="nav-item">
          {% if user.is_authenticated %}
        <!-- 如果用户已经登录，则显示用户名下拉框 -->
{#        <li class="nav-item dropdown">#}
            {% if user.avatar %}
                <img width="40" height="40"  src="{{ user.avatar.url }}" style="max-width: 100%;  class="col-md-5">
            {% endif %}
          {% endif %}
      </li>
        <!-- 条目 -->
        <li class="nav-item">
        <a class="nav-link" href="{% url 'blog:article_list' %}">文章</a>
        </li>

    <!-- Django的 if 模板语句 -->
    {% if user.is_authenticated %}
        <!-- 如果用户已经登录，则显示用户名下拉框 -->
{#        <li class="nav-item dropdown">#}
            <a class="nav-link dropdown-toggle" href="{% url 'usermanage:user_detail' user.id %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ user.username }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href={% url 'usermanage:logout' user.id %}>退出登录</a>
            </div>
{#        </li>#}
        <span><div >
              <a href={% url 'usermanage:logout' user.id %}>退出登录</a>
        </div></span>
    <!-- 如果用户未登录，则显示 “登录” -->
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'usermanage:login' %}">登录</a>
        </li>
    <!-- if 语句在这里结束 -->
    {% endif %}
      </ul>
    </div>

  </div>
</nav>